<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- dugun.fun -->
    <ins class="adsbygoogle"
           style="display:block"
                data-ad-client="ca-pub-3237344784986563"
                     data-ad-slot="7341748573"
                          data-ad-format="auto"></ins>
                          <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                          </script>
	</div>

</header>
